.App {
  max-width: 100vw;
  text-align: center;
  min-height: 62vh;  
}

.cont{
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
.h3footer{
  font-size: 3em;
  margin-top: 30px;
  color: rgba(228, 232, 253) ;
}
.icons{
  margin-top: 40px;
}
.icons i{
  color: rgba(228, 232, 253);
  font-size: 3em;
  margin: 10px;
}

.icons__i:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(255, 255, 255, 0.959);
  -moz-box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.972);
  -webkit-box-shadow: -1px 9px 40px -12px rgba(255, 255, 255, 0.959);
  -moz-box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.972);
  -webkit-box-shadow: -1px 9px 40px -12px rgba(255, 255, 255, 0.959);
  -moz-box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.972);
  box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.924); 
  box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.924); 
  box-shadow: -1px 9px 40px -12px rgba(253, 253, 253, 0.924); 
  
  transform: translatey(-10px);
  transition: 1s; 
}
.devteam{
  margin: 30px 0 0 -150px;
  color: rgba(228, 232, 253);
}
.devtittle , .redes{
  color: rgba(228, 232, 253);
  font-size: 1.7em;
}
.dev:hover{
  text-shadow: 0px 1px 1px rgba(253, 253, 253, 0.924);
  transform: scale(2px);
  transition: .5s;
}
.copyRigth {
  color: rgba(228, 232, 253);
  font-size: 1em;
  margin-right: -30px;
}